.foodmenu-admin-examples {
  width: 400px;
  height: 198px;
  background: white;
  float: right;
  border-left: 1px solid black;
}

.foodmenu-admin-examples-desc{
  background: url('../images/examples/foodmenu-admin-example-desc.gif');
}
.foodmenu-admin-examples-desc-prefix{
  background: url('../images/examples/foodmenu-admin-example-desc-prefix.gif');
}
.foodmenu-admin-examples-desc-suffix{
  background: url('../images/examples/foodmenu-admin-example-desc-suffix.gif');
}
.foodmenu-admin-examples-dotted{
  background: url('../images/examples/foodmenu-admin-example-dotted.gif');
}
.foodmenu-admin-examples-price-2{
  background: url('../images/examples/foodmenu-admin-example-price-2.gif');
}
.foodmenu-admin-examples-price-3{
  background: url('../images/examples/foodmenu-admin-example-price-2.gif');
}
.foodmenu-admin-examples-price-options{
  background: url('../images/examples/foodmenu-admin-example-price-options.gif');
}

.foodmenu-admin-btn-toggle {
	width: 12px;
	height: 12px;
	background: url('../images/foodmenu-toggle.gif');
	float: left;
	margin-top: 5px;
	margin-right: 7px;
	background-position: 12px 0px;
}

/*
  Admin
*/
.edit-field-foodmenu-wrapper {
  width: 500px;
  background: white;
  display: inline-block;
  padding: 5px;
}

#field-foodmenu-values td {
  vertical-align: top;
}

.edit-field-foodmenu-controls-wrapper {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	left: 0;
}

.edit-field-foodmenu-controls-btn {
  margin-top: 3px;
  border: 1px solid #ddd;
  background: #efefef;
  padding: 2px;
  text-align: center;
}

.foodmenu-control-btn {
  border: 1px solid silver;
  padding: 2px 5px;
  margin: 2px 0px;
  text-align: left;
  width: 120px;
  opacity: .5;
  background: white;
}

.foodmenu-control-btn:hover {
  opacity: 1;
  border-color: black;
  border-right: none;
  background: white;
  width: 122px;
  z-index: 1000;
  position: relative;
}

.foodmenu-control-btn.active .foodmenu-admin-btn-toggle{
  background-position: 0px 0px;
}

.foodmenu-control-btn.inactive{
}

.edit-field-foodmenu-controls {
  display: none;
  position: absolute;
  width: 532px;
  padding: 5px;
  z-index: 1;
  top: 3px;
  left: 30px;
  background: white;
  border: 1px solid silver;
}

#edit-field-foodmenu .form-item {
  padding: 0;
  margin: 0;
}

#edit-field-foodmenu textarea,
#edit-field-foodmenu input {
  border: 1px solid #EEE;
}

#edit-field-foodmenu textarea {
  width: 429px;
}

#edit-field-foodmenu textarea:hover,
#edit-field-foodmenu input:hover {
  border: 1px solid silver !important;
}

#edit-field-foodmenu .form-type-checkbox {
  float: left;
}

#edit-field-foodmenu .foodmenu-item,
.foodmenu-item {
}

#edit-field-foodmenu .foodmenu-item-title,
.foodmenu-item-title {
  width: 100%;
  clear: left;
}

#edit-field-foodmenu .foodmenu-item-title {
  width: 414px;
}

.foodmenu-item {
  margin: 13px;
}

.foodmenu-item-price-options,
.foodmenu-item-desc-preffix,
.foodmenu-item-desc-suffix {
  font-style: italic;
  color: #DEDEDE;
}

.foodmenu-item-title,
.foodmenu-item-price-1,
.foodmenu-item-price-2,
.foodmenu-item-price-3 {
  font-weight: bold;
  text-transform: uppercase;
}

#edit-field-foodmenu .foodmenu-item-title.dotted,
.foodmenu-item-title.dotted {
  width: 100%;
  border-bottom: 2px dotted black;
}

.edit-field-foodmenu-wrapper .foodmenu-item-title.dotted {
	width: 414px!important;
}

.foodmenu-item-dotted.hidden {
  display: none;
}

#edit-field-foodmenu .foodmenu-item-price-options,
.foodmenu-item-price-options {
  text-align: right;
}

#edit-field-foodmenu input.foodmenu-item-price-options {
  float: right;
  width: 115px;
}

#edit-field-foodmenu .foodmenu-item-price-1,
.foodmenu-item-price-1 {
  float: right;
  clear: both;
}

#edit-field-foodmenu .foodmenu-item-price-2,
.foodmenu-item-price-2 {
  float: right;
  clear: right;
}

#edit-field-foodmenu .foodmenu-item-price-3,
.foodmenu-item-price-3 {
  float: right;
  clear: right;
}

#edit-field-foodmenu .foodmenu-item-desc-prefix,
.foodmenu-desc-prefix {
  clear: left;
  width: 350px;
}

#edit-field-foodmenu .foodmenu-item-desc-prefix{
  width: 414px;
}

#edit-field-foodmenu .foodmenu-item-desc,
.foodmenu-desc {
  clear: left;
  width: 350px;
}

#edit-field-foodmenu .form-textarea-wrapper {
  width: 425px;
}

#edit-field-foodmenu .foodmenu-item-desc {
  width: 420px;
}

#edit-field-foodmenu .foodmenu-item-desc-suffix,
.foodmenu-desc-suffix {
  width: 350px;
}

#edit-field-foodmenu .foodmenu-item-desc-suffix{
  width: 414px;
}

